<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>
<body>
    <header >
        <!--    <h1 style="text-align: center">Магазин комплектующих <br>для профессиональных рабочих станций</h1>-->
        <div class="container">
            <br>
            <div class="row align-items-center text-center">
                <div class="col-xxl-12 col-md-12 col-sm-12 col-12 ">
                    <h1 class="headerText">Магазин комплектующих <br>для профессиональных рабочих станций</h1>
                </div>
            </div>
        </div>
    </header>

<!--&lt;!&ndash;    <h3>Личный кабинет администратора</h3>&ndash;&gt;-->
<!--    <div class="container">-->
<!--        &lt;!&ndash;        <br>&ndash;&gt;-->
<!--        <br>-->
<!--        <div class="row align-items-center text-center">-->
<!--            <div class="col-xxl-12 col-md-12 col-sm-12 col-12 ">-->
<!--                <h2>Личный кабинет администратора</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <br>&ndash;&gt;-->
<!--    </div>-->
    <!--<br>-->
<!--    <br>-->
<!--    <form method="post" th:action="@{/logout}">-->
<!--        <input type="submit" value="Выйти из личного кабинета">-->
<!--    </form>-->
<!--    &lt;!&ndash;<br>&ndash;&gt;-->
<!--    <br>-->
    <!--<a href="/admin/istoriyaZakazov">История заказов</a>-->
<!--    <form method="get" th:action="@{/admin/istoriyaZakazov}">-->
<!--        <input type="submit" value="История заказов">-->
<!--    </form>-->
    <!--<br>-->
<!--    <br>-->
    <!--<a href="/admin/users">Список пользователей</a>-->
<!--    <form method="get" th:action="@{/admin/users}">-->
<!--        <input type="submit" value="Список пользователей">-->
<!--    </form>-->
    <!--<br>-->
<!--    <br>-->
<!--    &lt;!&ndash;<a href="/product">Список товаров</a>&ndash;&gt;-->
<!--    <form method="get" th:action="@{/product}">-->
<!--        <input type="submit" value="Список товаров">-->
<!--    </form>-->
<!--    &lt;!&ndash;<br>&ndash;&gt;-->
<!--    <br>-->
    <!--<a href="/admin/product/add">Добавить товар</a>-->
<!--    <form method="get" th:action="@{/admin/product/add}">-->
<!--        <input type="submit" value="Добавить товар">-->
<!--    </form>-->
    <!--<br>-->
    <br>
    <div class="container">
        <!--        <div>-->
        <div class="container px-1">
            <div class="row gx-1">
                <div class="col ">
                    <div class="p-1 align-content-center">
                        <div class="form-group">
                            <div class="col-xxl-12 col-md-12 col-sm-12">
                                <form method="get" th:action="@{/product}">
                                    <input type="submit" value="Список товаров" class="btn btn-primary ramkaKnopki">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!--                                border bg-light-->
                    <div class="p-1 align-content-center">
                        <div class="form-group">
                            <div class="col-xxl-12 col-md-12 col-sm-12">
                                <form method="get" th:action="@{/admin/product/add}">
                                    <input type="submit" value="Добавить товар" class="btn btn-primary ramkaKnopki">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!--                                border bg-light-->
                    <div class="p-1 align-content-center">
                        <div class="form-group">
                            <div class="col-xxl-12 col-md-12 col-sm-12">
                                <form method="get" th:action="@{/admin/istoriyaZakazov}">
                                    <input type="submit" value="История заказов" class="btn btn-primary ramkaKnopki">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!--                                border bg-light-->
                    <div class="p-1 align-content-center">
                        <div class="form-group">
                            <div class="col-xxl-12 col-md-12 col-sm-12">
                                <form method="get" th:action="@{/admin/users}">
                                    <input type="submit" value="Список пользователей" class="btn btn-primary ramkaKnopki">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!--                                border bg-light-->
                    <div class="p-1 align-content-center">
                        <div class="form-group">
                            <div class="col-xxl-12 col-md-12 col-sm-12">
                                <form method="get" th:action="@{/logout}">
                                    <input type="submit" value="Выйти из личного кабинета" class="btn btn-primary ramkaKnopki">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
    </div>
    <br>
    <!--    <h3>Личный кабинет администратора</h3>-->
    <div class="container">
        <!--        <br>-->
        <div class="row align-items-center text-center">
            <div class="col-xxl-12 col-md-12 col-sm-12 col-12 ">
                <h2>Личный кабинет администратора</h2>
            </div>
        </div>
        <!--        <br>-->
    </div>
    <br>
    <div class="container">
        <!--        <br>-->
        <br>
<!--        <hr>-->
        <div class="row align-items-center text-center">
            <div class="col-xxl-12 col-md-12 col-sm-12 col-12 ">
                <h3>Список всех имеющихся в базе товаров:</h3>
            </div>
        </div>
        <!--        <br>-->
    </div>
    <br>
    <div class="container">
        <div class="grid_admin_pologenie_products">
            <div class="container">
                <div class="grid_admin_products_info">
                    <div th:each="product : ${products}" class="grid_admin_product_info">
                        <br>
                        <div class="container">
                            <div class="text_razmer_title_product_admin">
                                <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="grid_admin_product_opisanie">
                                <p th:text="'Описание: ' + ${product.getDescription()}"></p>
                            </div>
                        </div>
                        <p th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></p>
                        <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
                        <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
                        <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<!--                        <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>-->
<!--                        <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>-->
                        <div class="container">
                            <!--        <div>-->
                            <div class="container px-5">
                                <div class="row gx-1">
                                    <div class="col ">
                                        <div class="p-1 align-content-center">
                                            <div class="form-group">
                                                <div class="col-xxl-12 col-md-12 col-sm-12">
                                                    <form method="get" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}">
                                                        <input type="submit" value="Редактировать товар" class="btn btn-primary ramkaKnopki">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!--                                border bg-light-->
                                        <div class="p-1 align-content-center">
                                            <div class="form-group">
                                                <div class="col-xxl-12 col-md-12 col-sm-12">
                                                    <form method="get" th:action="@{/admin/product/delete/{id}(id=${product.getId()})}">
                                                        <input type="submit" value="Удалить товар" class="btn btn-primary ramkaKnopki">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <!--        </div>-->
                        </div>
<!--                        <hr>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/index.js}" ></script>
</body>
</html>